aniso8601
certifi==2021.5.30
click
colorama==0.4.4
dnspython==2.1.0
Flask
Flask-JWT==0.3.2
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn==20.1.0
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
psycopg2
PyJWT==1.4.2
pymongo==3.11.4
python-dateutil k
pytz
six
SQLAlchemy
Werkzeug
wincertstore==0.2
zipp
